.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;

}


.heartIcon{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.heartIcon-active{
    background-color: red;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 100%;

}


